<h2>{{Title}}</h2>
<hr>
<form class="form-horizontal" role="form" name="userForm" ng-submit="saveData(user)" novalidate>
    <div class="form-group">
        <label class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" ng-model="user.name" ng-required="true" class="form-control">
            <div class="text-danger" ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty || userForm.$submitted">
                <span ng-message="required">Please Enter Name</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Gender</label>
        <div class="col-sm-10">
<!--            <input type="text" name="gender" ng-model="user.gender" ng-required="true" class="form-control">-->
            <select name="gender" ng-model="user.gender" ng-required="true" class="form-control" ng-options="x for x in dataGender.availableOptions" >
            </select>
            <div class="text-danger" ng-messages="userForm.gender.$error" ng-show="userForm.gender.$dirty || userForm.$submitted">
                <span ng-message="required">Please Enter gender</span>
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Position</label>
        <div class="col-sm-10">
            <input type="text" name="position" ng-model="user.position" ng-required="true" class="form-control">

            
            <div class="text-danger" ng-messages="userForm.position.$error" ng-show="userForm.position.$dirty || userForm.$submitted">
                <span ng-message="required">Please Enter position </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Industries</label>
        <div class="col-sm-10">
            <input type="text" name="industries" ng-model="user.industries" ng-required="true" class="form-control">
            <div class="text-danger" ng-messages="userForm.industries.$error" ng-show="userForm.industries.$dirty || userForm.$submitted">
                <span ng-message="required">Please Enter industries </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Interests</label>
        <div class="col-sm-10">
            <input type="text" name="interests" ng-model="user.interests" ng-required="true" class="form-control">
            <div class="text-danger" ng-messages="userForm.interests.$error" ng-show="userForm.interests.$dirty || userForm.$submitted">
                <span ng-message="required">Please Enter interests </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2">Comments</label>
        <div class="col-sm-10">
           
            <textarea rows="7" name="comments" ng-model="user.comments" ng-required="false" class="form-control">
            </textarea>
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a ui-sref="home" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>